{% extends 'base.html' %}
{% block content %}

<h1>Move List</h1>

{% for move in move_list %}
  <a href="{% url 'moves_detail' move.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ move.name }}</span>
            <p>Type: {{ move.type }}</p>
            <p>PP: {{ move.power_point }}</p>
            <p>Power: {{ move.power }}</p>
            <p>Accuracy: {{ move.accuracy }}%</p>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}